* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(8deg, rgb(5, 15, 44), rgba(10, 30, 60, 0.4));
}
.container {
 max-width: 400px;
width: 100%;
  border: 0px solid rgb(31, 29, 29);
  padding: 20px;
  border-radius: 16px;
  background: transparent;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6),
              -10px -10px 20px rgba(255, 255, 255, 0.1);
              
          
}

input {
  width: 100%;
  height: 20%;
  padding: 10px;
  margin: 20px;
  font-size: 18px;
  border: none;
  margin-bottom: 1rem;
  border-radius: 25px;
  box-shadow: 0px 3px 15px rgb(30, 32, 35);
margin-left:0px;
color:black;

}

button {
  width: 70px;
  height: 70px;
  margin: 5px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 2px 5px rgb(30, 32, 35);
  font-size: 1.3em;
  font-weight: 800;
  margin-left: 10px;
  cursor: pointer;
  background-color: rgb(236, 231, 231);
}
.equalBtn{
  background-color: rgb(233, 154, 6);
}

.operator{
  color: rgb(233, 154, 6);
  font-size: 1.2em;
  font-weight:900;
    
}
#sub{
  font-size: 2.8rem;
}
